nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
    width: 100vw;
    background-color: #FF000D;
    color : white;
}

.right{
    margin-right: 20px;
}

.left{
    margin-left: 20px;
    font-size: 25px;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding:0px 20px;
    font-weight: bold;
}

li{
    margin: 0px 20px;
    padding: 3px;
    font-size: 20px;
}

.center{
}

.ContactBtn{
    height: 35px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    border-width: 3px;
    border-radius: 10px;
}